<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:3em;
        }
    </style>
</head>
<body>
    <center>
        This is our home page.<br/>
        Welcome <%=detail.name%>, to our home page.<br><br>

        <ul>
            Your Hobbies:
            <% detail.Hobbies.forEach((elemants)=>{%>
                <li><%=elemants%></li>
            <%});%>
        </ul>


    </center>
</body>
</html>   